########################################
# TMC2240 configuration
########################################

[tmc2240 stepper_x]
cs_pin: P1.10
spi_software_sclk_pin: P0.4
spi_software_mosi_pin: P1.17
spi_software_miso_pin: P0.5
diag0_pin: ^!P1.29
driver_SG4_THRS: 242
driver_SG4_ANGLE_OFFSET: 1
interpolate: true
stealthchop_threshold: 999999
rref: 12000
driver_SLOPE_CONTROL: 3
run_current: 0.95

[tmc2240 stepper_y]
cs_pin: P1.9  
spi_software_sclk_pin: P0.4
spi_software_mosi_pin: P1.17
spi_software_miso_pin: P0.5
diag0_pin: ^!P1.28
driver_SG4_THRS: 248
driver_SG4_ANGLE_OFFSET: 1
interpolate: true
stealthchop_threshold: 999999
rref: 12000
driver_SLOPE_CONTROL: 3
run_current: 0.95

[tmc2240 stepper_z]
cs_pin: P1.8
spi_software_sclk_pin: P0.4
spi_software_mosi_pin: P1.17
spi_software_miso_pin: P0.5
diag0_pin: ^P1.27 
interpolate: true
#stealthchop_threshold: 999999
rref: 12000
#driver_SLOPE_CONTROL: 3
run_current: 0.6

[tmc2240 stepper_z1]
cs_pin: P1.1
spi_software_sclk_pin: P0.4
spi_software_mosi_pin: P1.17
spi_software_miso_pin: P0.5
diag0_pin: ^P1.25 
interpolate: true
#stealthchop_threshold: 999999
rref: 12000
#driver_SLOPE_CONTROL: 3
run_current: 0.6

[tmc2240 extruder]
cs_pin: P1.4
spi_software_sclk_pin: P0.4
spi_software_mosi_pin: P1.17
spi_software_miso_pin: P0.5
diag0_pin: ^P1.26 
interpolate: true
#stealthchop_threshold: 0
rref: 12000
#driver_SLOPE_CONTROL: 3
run_current: 0.75

##############################
# X/Y/Z Stepper Settings
##############################

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400
#endstop_pin: !P1.29
endstop_pin: tmc2240_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 235
homing_speed: 20
step_pulse_duration: 0.000002

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400
#endstop_pin: !P1.28
endstop_pin: tmc2240_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: -20
position_min: -20
position_max: 235
homing_speed: 20
step_pulse_duration: 0.000002

[stepper_z]
step_pin: P0.22
dir_pin:  P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
#endstop_pin: P1.27
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_min: -2
position_max: 250
homing_speed: 4
step_pulse_duration: 0.000002

[stepper_z1]
step_pin: P1.15
dir_pin:  P1.14
enable_pin: !P1.16
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
step_pulse_duration: 0.000002