##############################
# Eddy
##############################

[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_504450613071541C-if00 
restart_method: command

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10 
max_temp: 100

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
descend_z: 2
#i2c_address:
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 36
y_offset: 14
#tap_threshold: 0
#samples: 3
#samples_tolerance: 0.025
#samples_tolerance_retries: 3

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2
calibration_position: 80,100,50
calibration_extruder_temp: 220
extruder_heating_z: 30
max_validation_temp: 60
resting_z: 2

[bed_mesh]
horizontal_move_z: 1.5
speed: 200
mesh_min: 40,20  
mesh_max: 181,210 
probe_count: 15
algorithm: bicubic
adaptive_margin: 1

[safe_z_home]
home_xy_position: 80,100 
z_hop: 5
z_hop_speed: 10
speed: 200